.title {
  text-align: center;
  margin: 25px;
}

.container {
  width: 500px;
  height: 500px;
}

#form-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

input {
  margin: 10px;
}